.view-exchange-board .view-content h3 {
	border-bottom: 1px solid #FECB00;
	color: #111111;
  font-size: 1.3em;
  margin-bottom: 0.8em;
  padding-bottom: 1px
}
.view-exchange-board .view-content h3 a {
  text-decoration: none;
}
.view-display-id-exchange_board_block {
  background: none repeat scroll 0 0 #DDDDDD;
  font-size: 110%;
  margin-bottom: 12px;
  padding: 3px 6px 10px 10px;
  width: 194px;
}
.submit-exchange-board {
	margin-top: 8px;
}
.submit-exchange-board a, .browse-exchange-board a {
  background: none repeat scroll 0 0 #AAAAAA;
  border: 3px solid #FFFFFF;
  display: block;
  padding: 4px 7px;
  width: 170px;
  text-decoration: none;
}
.view-display-id-exchange_board_block a {
  color: #000000 !important;
}

.view-display-id-exchange_board_block .view-content .item-list ul{
  background: none repeat scroll 0 0 #AAAAAA;
  border: 3px solid #FFFFFF;
  display: block;
  padding: 4px 7px;
  width: 170px;
  margin: 0;
}

.submit-exchange-board a .arrow, .browse-exchange-board a .arrow {
  background: url("../images/arrow.gif") no-repeat scroll right center transparent;
  padding: 8px 8px 7px 10px;
}

.node-exchange-board .node-inner .links{
  margin-bottom: 20px;
}

.view-id-exchange_board .view-content .clearfix {
	margin-bottom: 20px;
}

.view .exchange-board-title {
  border: medium none;
  border-bottom: none;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
}
